@{
    ViewBag.Title = "List";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-12 col-sm-12 col-xs-12">
    <h1>@ViewBag.Title</h1>

    <div class="col-md-2" style="background-color:blue; height:700px;">
        
    </div>
    <div class="col-md-10" style="background-color:green; height:700px;">

    </div>


    @*<div class="row">
        <div class="col-md-2 pull-right">
            <input class="btn btn-primary" value="Novo Pedido" onclick="window.location.href='@Url.Action("Create", "HelpDesk")'" />
        </div>
    </div>*@
</div>

