@{
    ViewBag.Title = "Drop Down List Examples";
    ViewBag.TestVarSelOption = "ValorTest3#$%&/";
}

<body>
    <h1 class="page-header" style="margin: 70px 0 50px 0">@ViewBag.Title</h1>

    <h3>By using &lt;select&gt; HTML Tags</h3>

    <form action="/Study/DropDownList" method="post">
        <select class="btn" id="optionSelect" name="optionSelect" required autofocus>
            <option value="0">...</option>
            <option value="http://badjoras.com">Option 1</option>
            <option value="2" selected="selected">Option 2</option>
            <option value=@ViewBag.TestVarSelOption>Option 3</option>
            <option value="4">Option 4</option>
        </select>

        <input class="btn" type="submit" value="Enviar" style="margin-left:30px; width:200px" />
    </form>

    @if (ViewBag.optSelected != null)
    {
        <p style="color:red; font-weight:bolder; margin-top:20px;">Valor escolhido: @ViewBag.optSelected</p>
    }




    <br /><hr />
    <h3>By using &lt;div&gt; & &lt;ul&gt; list HTML Tags</h3>




    @*.dropdown indicates a dropdown menu*@
    <div class="dropdown">
        @*.dropdown-toggle class with data-toggle to the button is what allowes to open the dropdown list menu*@
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Dropdown Example
            @*.caret creates an arrow on the dropbox *@
            <span class="caret"></span>
        </button>
        @*Adding .dropdown.menu to a ul tag, creates the actual items of the dropdown*@
        <ul class="dropdown-menu">
            <li><a href="#">Option 1</a></li>
            <li><a href="#">Option 2</a></li>
            <li><a href="#">Option 3</a></li>
        </ul>
    </div>




    <br /><hr />
    <h3>By using DropDownList</h3>




    @using (Html.BeginForm("DropDownList", "Study", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        @*@Html.DropDownList*@

    }
</body>



