.image-login img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 160px;
}

.image-login,
.title-login {
    text-align: center;
}

.title-login {
    color: #00A09A;
    font-size: 30px;
    margin: 40px 0 50px 0;
}

.control-label {
    font-weight: 300;
    font-size: 15px;
}

.login-control {
    font-size: 16px;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #2C3E50;
}

    .login-control:focus {
        border-color: inherit;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.remember-me-row {
    margin-top: 20px;
}

.remember-me {
    font-weight: 300;
    font-size: 18px;
}

.forgotPass {
    color: #2C3E50;
}

.btns-login {
    margin-top: 60px;
}

.btn-login-ok,
.btn-login-register {
    width: 100%;
}

.btn-login-ok {
    background-color: #46B19D;
    border-color: #46B19D;
    padding-left: 15px;
}

    .btn-login-ok input {
        border: 0;
    }

    .btn-login-ok:hover {
        background-color: #00A09A;
        border-color: #46B19D;
    }

.button-settings {
    width: 20px;
    height: 20px;
    margin: 2px -20px -7px !important;
}

.buttonsGroup {
    padding: 0;
    margin-top: 70px;
}

.sub-title {
    color: #4b5d70;
    font-weight: 300;
    font-size: 18px;
}

.btn-primary.btn-login {
    background-color: #46B19D;
}

.myFile {
    position: relative;
    overflow: hidden;
    float: left;
    clear: left;
    margin: 0px;
    margin-top: 7px;
}

    .myFile input[type="file"] {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        font-size: 100px;
        filter: alpha(opacity=0);
        cursor: pointer;
    }
